/* @tailwind base;
@tailwind components;
@tailwind utilities; */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
  font-size: 1.6rem;
  color: #000000;
  outline: none;

  ::selection {
    color: #000000;
    background-color: #0DA6A6;
  }
}

button,
a {
  cursor: pointer;
  text-decoration: none !important;
}
